<section id="add">
<form action="/clients/create" method="post">
  <p>Please enter client name</p>
  <input type="textbox" name="name"></br>
  <p>Please enter client type</p>
  </br>
    <p>Standard</p>
        <input type="radio" name="type" value="standard"/>
      <p>Other</p>
        <input type="radio" name="type" value="other"/></br>
  <input type="submit" class="submit-button">
  </br>
   <% if flash[:client_error] %>
     <h2 class="error"><%= flash[:client_error] %></h2>
  <% end %>
    </br>
  </br>
  <a href = '/home/index' class = "back">Home</a>
</form>
</section>