  <article class="welcome" >
    <p>Welcome, <%= @employee.first_name %></p>
    <p>Please select what you'd like to do.</p>
  </article>

<section id="add">
     <form method="post" action="/selection">
      <p>Log time</p>
      <input type="radio" name="option" value="1"/>
      <p>Request time report</p>
      <input type="radio" name="option" value="2"/>
      <p>Add employee</p>
      <input type="radio" name="option" value="3"/>
      <p>Add client</p>
      <input type="radio" name="option" value="4" />
      <p>Request employee report</p>
      <input type="radio" name="option" value="5" /></br>
      <input type="submit" value="Choose"/>
    </form>
  </section>

