<section id="add">
<h2 class = "username_prompt">Please enter your employee username to get started.</h2>
<form action="/username" method="post">
  <input type="textbox" name="username_name"></br>
  <input type="submit" class="submit-button">
</form>
</section>
