<section id="add">
<h2 class="username_prompt">Please enter a valid username to get started</h2>
<form action="/username" method="post">
  <input type="textbox" name="username_name"></br>
  <input type="submit" class="submit-button">
  </br>
  </br>
  <% if flash[:username_error] %>
    <h2 class="error"><%= flash[:username_error] %></h2>
  <% end %>
</form>
</section>
