  <article class="welcome" >
    <p>Welcome, <%= @employee.first_name %></p>
    <p><%= @message %></p>
  </article>
  </br>
  <section id="add">
    <form method="" action="/selection">
      <% if @employee.employee_type == 'admin' %>
        <a href = '/timesheets/new'>Log time</a>
        </br>
        <a href = '/report/new'>Request report</a>
         </br>
        <a href= '/employee/new'>Add employee</a>
         </br>
        <a href = '/client/new'>Add client</a>
         </br>
        <a href = '/all_employee_report/new'>Request employee report</a>
        </br>
      <% else %>
        <a href = '/timesheets/new'>Log time</a>
         </br>
        <a href = '/report/new'>Request report</a>
        </br>
      <% end %>
    </form>
  </section>
