<section id="add">
<form action="/timesheets/create" method="post">
  <p>Please input the project date using this format : YYYY/MM/DD</p>
  <input type="textbox" name="date"></br>
  <p>Please input hours worked</p>
    <input type="textbox" name="hours"></br>
  <p>Please choose a project type</p>
      <p>PTO</p>
        <input type="radio" name="project_type" value="pto"/>
      <p>Billable</p>
        <input type="radio" name="project_type" value="billable"/>
      <p>Non-Billable</p>
        <input type="radio" name="project_type" value="non-billable" /></br>
  <p>Please enter client if project is billable</p>
  <select class="client_options">b
     <% @clients.each do |client| %>
      <option name ="client" value=<%= client.name %>><%= client.name %></option>
    <% end %>
  </select></br>
  <input type="submit" class="submit-button">
   <% if flash[:timesheet_error] %>
     <h2 class="error"><%= flash[:timesheet_error] %></h2>
  <% end %>
   <a href = '/home/index' >Home</a>
</form>
</section>